<html>
<body>
<p>
<b>Testsuite:</b> {{file}}
<br />
<b>Created:</b>   {{date}}
</p>

<p>
<ul>
{{#tests}}
<li> <p>{{input}}</p>

  {{#interpretations}}
    {{{.}}} <br />
  {{/interpretations}}
{{/tests}}
</ul>
</p>

</body>
</html>
